#Documents
/_Docs

#Jupyter checkpoints
/.ipynb_checkpoints
/CheatSheet/.ipynb_checkpoints
/machinelearningmastery/.ipynb_checkpoints

#Python cache
/__pycache__

#Others

#Plot pictures
 
# Files
/CheatSheet/*.npy
/CheatSheet/*.npz
/CheatSheet/*.csv
/CheatSheet/*.txt
/CheatSheet/*.xls
/CheatSheet/*.xlsx